<!doctype html>
<html>
<head>
  {% include head.html %}
</head>
<body{% if site.simple-slideshow %} class="simple-slideshow"{% endif; %}>
  <div id="impress" class="impress-not-supported">
    {{ content }}
  </div>
  <a href="https://github.com/davidneedham/Hekyll_Beginner_Theming"><img style="position: absolute; top: 0; left: 0; border: 0;" src="https://s3.amazonaws.com/github/ribbons/forkme_left_white_ffffff.png" alt="Fork me on GitHub"></a>
  <script type="text/javascript" src="impress.js"></script>
</body>
</html>

<!-- 
    <div id="footer">
      <div id="branding"><a href="http://www.chapterthree.com"><img id="logo" src="images/C3LogoTiny.png" /></a></div>
      <div id="me">
        <span class="name">David Needham</span>
        <span class="twitter"><a href="http://www.twitter.com/davidneedham">@davidneedham</a></span>
      </div>
    </div>

-->
